*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#capstone-wrapper{
  border: 3px solid red;
  width: 100%;
}

#category {
  border: 3px solid;
  width: 160px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  font-stretch: expanded;
  background-color: #0066cc;
  display: block;
  margin: auto;
}

.grid-category-container {
  margin: auto;
  border: 2px solid blue;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.grid-category-container div{
  background-color: #0066cc;
  border: 2px solid;
  margin: auto;
  padding: 0;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}


#design{
  border: 3px solid;
  width: 300px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  font-stretch: expanded;
  background-color: red;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#putTogether{
  border: 3px solid;
  height: 600px;
  display: flex;
  justify-content: center;
}

.flex-group-rows{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#button-container{
  margin: auto;
  width: 60%;
  border: 3px solid green;
}

.flexbox-letter{
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* #shape1, #shape2, #shape3, #shape4 {
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 45%;
} */

/* #shape1 {
  background-color: #0066cc;
} */

/* #shape2 {
  background-color: green;
} */

/* #shape3 {
  background-color: green;
} */

/* #shape4 {
  background-color: #0066cc;
} */


#wrongGuessLetter{
  width: 430px;
  height: 40px;
  border: 1px solid red;
  text-align: center;
  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
// wrongGuess.style.input = "onfocus"
}

#dashesLetter{
  height: 50px;
  border: 4px solid purple;
  text-align: center;
  font-size: 35px;
}

#questionaire{
  width: 500px;
  height: 100px;
  border: 5px solid #0066cc;
  text-align: center;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#arrow{
  width: 50px;
  height: 40px;
  border: 4px solid;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

/* @media screen and (max-width: 850px){
  #capstone-wrapper{
    border: 6px solid green;
    width: 99%;
  }
} */

/* @media screen and (max-width: 375px){
  #capstone-wrapper{
    width: 375px;
  }
  #button-container{
    border: 3px solid green;
    width: 400px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
  }
} */
